<!-- Loader Screen -->
<div id="loader" class="loader-container">
  <div class="loader-content">
    <div class="loader-gif">
      <img src="https://em-content.zobj.net/source/animated-noto-color-emoji/427/graduation-cap_1f393.gif" 
           alt="Carregando..." 
           class="w-full h-full object-contain">
    </div>
    <div class="loader-text">UniAgenda</div>
    <div class="loader-subtext">Seu planejador universitário</div>
    <div class="loader-progress">
      <div class="loader-progress-bar"></div>
    </div>
  </div>
</div>